   body {
      background-color: #d1d3d4;
    }
    .panel {
      border-radius: 0px;
    }
    .super-header {
      text-align: right;
      background: -webkit-linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,1));
      background: -o-linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,1));
      background: -moz-linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,1));
      background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,1));
      padding: 5px 12px 5px 12px;
      font-family: 'Open Sans', 'sans-serif';
      font-size: 12pt;
    }
    
    #logo { text-align: left; }

    .bookmarks .navbar.navbar-default {
      background-color: #fff;
      margin-bottom: 0;
      text-align: center;
    }
    .header {
      color: #ffffff;
      background-color: #3c6eb4;
      width: 100%;
    }
    .row {
      padding: 5px;
    }
    .padded {
      padding: 5px;
    }
    .medium-wide {
      width: 250px;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .widget-buttons {
      padding: 5px;
      /* TODO -- lots more nice styling here... */
    }
    .panel {
      visibility: hidden;
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.4s;
    }

    .panel-visible {
      visibility: visible;
      max-height: 100%;
    }

//flexbox support
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.stats-table {
width: 180px
padding: 0px;
margin: 0px;
display: inline-block;
}
.stats-table th {
text-transform: uppercase;
font-size: 80%;
padding-right: 10px;
color: #797a7c;
}
.stats-table td {
font-size: 32pt;
}

.square-32 {
    width: 32px;
    height: 32px;
}
