   body {
      background-color: #d1d3d4;
    }

    .super-header {
      background: -webkit-linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.9),rgba(255,255,255,1));
      background: -o-linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.9),rgba(255,255,255,1));
      background: -moz-linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.9),rgba(255,255,255,1));
      background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.9),rgba(255,255,255,1));
      padding: 5px 12px 5px 12px;
      font-family: 'Open Sans', 'sans-serif';
      font-size: 12pt;
    }

    .super-header img.avatar {
      margin-right: 10px;
      width: 22.5px;
    }

    .super-header .glyphicon-chevron-down {
      color: #58595b;
      margin: 5px 0 0 10px;
      font-size: 18px;
    }

    #logo { text-align: left; }

    .bookmarks .navbar.navbar-default {
      background: -webkit-linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.9),rgba(255,255,255,1));
      background: -o-linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.9),rgba(255,255,255,1));
      background: -moz-linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.9),rgba(255,255,255,1));
      background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.9),rgba(255,255,255,1));
      margin-bottom: 0;
      text-align: center;
    }

    .bookmarks .navbar-nav > li > a {
      padding-bottom: 4.5px;
      padding-top: 4.5px;
    }

    /* Bookmarks Bar: active nav item styling */
    .bookmarks .nav > .active > a,
    .bookmarks .nav > .active > a:hover,
    .bookmarks .nav > .active > a:focus {
      color: #3c6eb4;
      background-color: transparent;
      border-bottom: 3px solid #3c6eb4;
    }

    .header {
      color: #ffffff;
      background-color: #3c6eb4;
      width: 100%;
      font-family: 'Open Sans', sans-serif;
    }
    .header img.avatar {
        width: 70px;
        float: left;
        margin: 0 15px;
        display: inline;
        border: 5px solid #fff;
    }
    .header h3 {
        font-weight: 700;
    }
    .row {
      padding: 5px;
    }
    .padded {
      padding: 5px;
    }
    .medium-wide {
      width: 300px;
    }

@media (max-width: 320px) {
  .medium-wide {
    width: 100%;
    text-align: center;
  }
}

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .widget-buttons {
      padding: 5px;
      /* TODO -- lots more nice styling here... */
    }
    .panel {
      visibility: hidden;
      max-height: 0px;
      overflow: hidden;
      border: 0;
      border-radius:0px;
      transition: max-height 0.4s;
    }

    .panel-visible {
      visibility: visible;
      max-height: 100%;
    }

/* generic widget styling */
.widget .panel-default > .panel-heading {
    font-family: 'Open Sans', 'sans-serif';
    color: #fff;
    background-color: #a7a9ac;
    border-radius: 0;
}

.widget .panel-default > .panel-heading h3 {
    font-weight: 700;
}

/* flexbox support */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stats-table {
width: 180px
padding: 0px;
margin: 0px;
display: inline-block;
}
.stats-table th {
text-transform: uppercase;
font-size: 80%;
padding-right: 10px;
color: #797a7c;
}
.stats-table td {
font-size: 32pt;
}

.square-32 {
    width: 32px;
    height: 32px;
}
