<html>
<head>
<title>{{ hub.name }}</title>
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-{{ hub.left_width }}">
      {% for widget in hub.left_widgets %}
      <div class="row">
        {{ widget.render(request, session) | safe }}
      </div>
      {% endfor %}
    </div>

    <div class="col-md-{{ hub.right_width }}">
      {% for widget in hub.right_widgets %}
      <div class="row">
        {{ widget.render(request, session) | safe }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</body>
</html>
